PORT=3000
TXLINE_NETWORK=devnet
TXLINE_GUEST_JWT=
TXLINE_API_TOKEN=
TXLINE_DEVNET_API_BASE=https://txline-dev.txodds.com/api
TXLINE_MAINNET_API_BASE=https://txline.txodds.com/api
SOLANA_RPC_URL=https://api.devnet.solana.com
TXLINE_DEVNET_PROGRAM_ID=6pW64gN1s2uqjHkn1unFeEjAwJkPGHoppGvS715wyP2J
TXLINE_MAINNET_PROGRAM_ID=9ExbZjAapQww1vfcisDmrngPinHTEfpjYRWMunJgcKaA
